@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.panel.active {
  flex: 5;
}

.panel.active div {
  opacity: 1;
}

@media (max-width: 800px) {
  .container {
    width: 90vw;
  }
  .panel:nth-of-type(5),
  .panel:nth-of-type(6) {
    display: none;
  }
}

@media (max-width: 600px) {
  .container {
    width: 90vw;
  }

  .panel:nth-of-type(4) {
    display: none;
  }
}
